<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
  </head>
  <body>
    <div class="topnav">
      <a href="/">Pfeil-Schäring</a>
      <a href="/">Home</a>
      <a class="active" href="/login">Login</a>
      <a href="/register">Registrieren</a>
    </div> 
    <div class="login-seite">
      <div class="form">
        <form class="login-form" action="/login" method="POST">
          <input type="text" placeholder="Nutzername" name="username"/>
          <input type="password" placeholder="Passwort" name="password"/>
          <button type="submit">Einloggen</button>
          <p style="color:red"><%= errorText %></p>
          <p class="message">Noch nicht registriert? <a href="register">Registrieren</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
