<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registrieren</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
  </head>
  <body>
    <div class="topnav">
        <a href="/">Pfeil-Schäring</a>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a class="active" href="/register">Registrieren</a>
      </div> 
    <div class="login-seite">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="Nutzername"/>
          <input type="password" placeholder="Passwort"/>
          <input type="password" placeholder="Passwort wiederholung"/>
          <button>Registrieren</button>
          <p class="message">Bereits registriert? <a href="login">Einloggen</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
